/* Resetting default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Black background */
  font-family: 'Arial', sans-serif;
  color: #fff; /* Default text color */
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  padding: 30px 0; /* Padding between heading and navbar */
  width: 100%; /* Spread header across the page */
  position: relative; /* Relative positioning for absolute header heading */
}

header h1 {
  margin: 0;
  text-align: center; /* Center the heading */
  font-family: 'Bebas Neue', cursive; /* Use Bebas Neue font for the heading */
  font-size: 36px; /* Font size for the heading */
  position: absolute; /* Position the heading absolutely */
  top: 0; /* Position from the top of the header */
  left: 50%; /* Position from the left (center) */
  transform: translateX(-50%); /* Center the heading horizontally */
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Center the nav items */
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

header nav ul li a:hover {
  background-color: #555; /* Darker background color on hover */
}

/* Landing Page (Home Page) Styles */
.image-slider {
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  margin: 20px auto; /* Center the slider */
}

.slider-image {
  width: 100%;
  height: auto;
  animation: fadeIn 2s forwards;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About Us Page Styles */
.about-box {
  background-color: black; /* Black background */
  padding: 20px;
  border-radius: 10px;
  border: 2px solid goldenrod; /* Golden border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a slight lift effect */
  margin-bottom: 20px; /* Add margin to separate from other sections */
}

.about-box h2 {
  color: goldenrod; /* Golden heading color */
}

.about-box p {
  color: white; /* White text color */
  line-height: 1.6; /* Improved readability with slightly increased line height */
}

.about-box ul {
  list-style-type: disc; /* Use bullet points for the list */
  color: white; /* White text color */
  padding-left: 20px; /* Add some padding to the left of the list */
}

.about-box ul li {
  margin-bottom: 10px; /* Add some space between list items */
}

footer {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  text-align: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
